html {
  background-color: rgb(9, 9, 9);
  --zss-blue: #2d7ce0;
  --zss-nominal: rgb(90, 93, 97);
  --zss-warning: #ff9800;
  --zss-error: #f14441;
  --zss-brown: rgb(165 146 119);
  /* --zss-chart-bg: rgb(16, 16, 16); */
  --zss-chart-bg: rgb(45, 45, 45);
  --zss-dark-blue: #0b3e9e;
  --zss-green: #09da6e;
  --zss-energy-line: #38feaf;
  --zss-success: #38feaf;
  --zss-setpoint-line: #fecc38;
  --zss-chart-axis-line: rgba(255, 255, 255, 0.1);
  --zss-chart-axis-text: white;
  --zss-dg-roomRefresh: #71cac4;
  --zss-dg-weatherEvent--cold: #2d7ce0;
  --zss-dg-weatherEvent--warm: #ed7f48;
  --zss-dg-greenEnergy: #74bb00;
  --zss-metric-primary: #ffba01;
  --zss-metric-font: 'Saira', sans-serif;
  --zss-dg-drEvent: #869d9c;
  --zss-engagement-bad: linear-gradient(
    239deg,
    rgba(237, 23, 23, 1) 0%,
    rgba(237, 60, 26, 1) 50%,
    rgba(239, 192, 36, 1) 97%
  );
  font-family: sans-serif;
  padding: 2rem;
  --mud-typography-h6-size: 1.5rem;
}
h1 {
  color: white;
  margin-bottom: 2rem;
}
svg {
  background-color: rgb(9, 9, 9);
  /* padding: 0.25rem; */
}

path {
  stroke-linecap: round;
}
/* ENERGY SUMMARY */
.energy-summary--wrap {
  display: flex;
}

.energy-summary--chart-wrap {
  position: relative;
}
.energy-summary-tooltip {
  position: absolute;
  text-align: center;
}

.energy-summary--tooltip__content {
  color: white;
  text-align: center;
  background: var(--zss-blue);
  color: white;
  border: 1px solid black;
  width: 120px;
  min-height: 20px;
  border-radius: 6px;
  padding: 12px;
}
#energy-summary--tooltip__date {
  font-weight: 800;
}
#energy-summary--tooltip__usage {
}

.energy-summary--slider {
  display: flex;
}
.energy-summary--slider input {
  transform: rotate(270deg);
}
.energy-summary--slider .mud-slider-container {
  display: flex;
}
/* ENERGY BREAKDOWN */
div.energy-breakdown-chart--tooltip {
  position: absolute;
  text-align: left;
  width: 150px;
  min-height: 30px;
  padding: 16px;
  font: 16px sans-serif;
  background: var(--zss-blue);
  color: white;
  border: 1px solid black;
  border-radius: 3px;
  pointer-events: none;
}

.energy-site-comparison-chart {
  /* fill: var(--zss-blue); */
}
/* single event */
.single-event--energy-line {
  fill: none;
  stroke-width: 2px;
  stroke-opacity: 1;
}
.single-event--setpoint-line {
  fill: none;
  stroke-width: 2px;
  stroke-opacity: 1;
}
.single-event--fan-line {
  fill: none;
  stroke-width: 2px;
  stroke-opacity: 1;
}

div.dg-past--wrap {
  height: 600px;
  width: 100%;
  /* overflow-x: scroll; */
  position: relative;
  margin: 0;
}

.dg-past-event--tooltip::after {
  content: '';
  height: 30px;
  width: 30px;
  position: absolute;
  background-color: var(--zss-blue);
  top: -2px;
  margin: auto;
  left: 0;
  right: 0;
  z-index: -1;
  transform: rotate(45deg);
}

.dg-past-event--tooltip {
  opacity: 0;
  position: absolute;
  text-align: left;
  width: 180px;
  min-height: 30px;
  text-align: center;
  font: 14px sans-serif;
  background: var(--zss-blue);
  color: white;
  border-radius: 3px;
  pointer-events: none;
}
.dg-past-event--tooltip__footer,
.dg-past-event--tooltip__content {
  padding: 0.5rem;
}
.dg-past-event--tooltip__content > div {
  line-height: 1.25rem;
}

.dg-past-event--tooltip__footer {
  cursor: pointer;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background: var(--zss-dark-blue);
  font-weight: 400;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* MANY EVENTS */
.many-events--wrap {
  display: grid;
  grid-template-columns: 200px auto;
  align-items: center;
}

.site--selector {
  background-color: white;
  margin: 1rem;
  padding: 0.15rem;
  border-radius: 4px;
}

.site--selector .title {
  font-size: 14px;
  padding: 0.25rem 0;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.site--selector.deselected {
  outline: 1px solid white;
}

table.site--details {
  font-size: 12px;
  text-align: center;
  table-layout: fixed;
  width: 100%;
  margin: 0.25rem auto;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

th {
  padding-top: 4px;
}

td {
  padding: 5px;
}

/* DEVICE DATA TABLE */
.device-data__table--wrap {
  overflow-y: scroll;
  max-height: 880px;
  max-width: 768px;
  margin: auto;
}
.device-data__table--wrap .table {
  padding: 1rem;
  margin: auto;
}
.device-data__table--wrap .table__header,
.device-data__table--wrap .table__row {
  color: white;
  display: grid;
  grid-template-columns: auto repeat(3, 150px) 80px 50px;
}
.device-data__table--wrap .table__header--cell {
  border: 1px solid rgb(120, 120, 120);
  background-color: rgb(22, 22, 22);
  padding: 5px;
  font-size: 1rem;
  font-weight: 600;
}
.device-data__table--wrap .table__body--cell {
  border-bottom: 1px solid rgb(120, 120, 120);
  border-left: 1px solid rgb(120, 120, 120);
  background-color: var(--zss-chart-bg);
  padding: 5px;
}

.device-data__table--wrap .table__body--cell:last-of-type {
  border-right: 1px solid rgb(120, 120, 120);
}

.device-data__table--wrap .table__row.outOfRange > .table__body--cell {
  background-color: #6a6a6a;
}

.device-data__table--wrap .table__row.outOfRange {
  border: 1px solid rgb(243, 44, 44);
}

.device-data__table--wrap .center {
  text-align: center;
}
.device-data__table--wrap .table__body--cell.coolingSetpoint {
  color: var(--zss-blue);
}

.device-data__table--wrap .table__body--cell.heatingSetpoint {
  color: var(--zss-error);
}
.device-data__table--wrap .table__body--cell.localTemperature {
  color: var(--zss-setpoint-line);
  font-weight: 600;
}
