html {
  background-color: rgb(17, 17, 17);
  --zen-blue: #0076fd;
  --chart-bg: rgb(12, 12, 12);
  font-family: sans-serif;
  padding: 2rem;
}
h1 {
  color: white;
  margin-bottom: 2rem;
}
svg {
  background-color: black;
  padding: 0.25rem;
}

div.energy-breakdown-chart--tooltip {
  position: absolute;
  text-align: left;
  width: 120px;
  min-height: 30px;
  padding: 16px;
  font: 16px sans-serif;
  background: #0076fd;
  color: white;
  border: 1px solid black;
  border-radius: 3px;
  pointer-events: none;
}
/* single event */
.single-event--energy-line {
  fill: none;
  stroke-width: 2px;
  stroke-opacity: 1;
}
.single-event--setpoint-line {
  fill: none;
  stroke-width: 2px;
  stroke-opacity: 1;
}
.single-event--fan-line {
  fill: none;
  stroke-width: 2px;
  stroke-opacity: 1;
}

div.dg-past--wrap {
  height: 600px;
  width: 100%;
  /* overflow-x: scroll; */
  position: relative;
  margin: 0;
}

.dg-past-event--tooltip::after {
  content: "";
  height: 30px;
  width: 30px;
  position: absolute;
  background-color: #0076fd;
  top: -2px;
  margin: auto;
  left: 0;
  right: 0;
  z-index: -1;
  transform: rotate(45deg);
}

.dg-past-event--tooltip {
  opacity: 0;
  position: absolute;
  text-align: left;
  width: 180px;
  min-height: 30px;
  text-align: center;
  font: 14px sans-serif;
  background: #0076fd;
  color: white;
  border-radius: 3px;
  pointer-events: none;
}
.dg-past-event--tooltip__footer,
.dg-past-event--tooltip__content {
  padding: 0.5rem;
}
.dg-past-event--tooltip__content > div {
  line-height: 1.25rem;
}

.dg-past-event--tooltip__footer {
  cursor: pointer;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background: #0b3e9e;
  font-weight: 400;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* MANY EVENTS */
.many-events--wrap {
  display: grid;
  grid-template-columns: 200px auto;
  align-items: center;
}

.site--selector {
  background-color: white;
  margin: 1rem;
  padding: 0.15rem;
  border-radius: 4px;
}

.site--selector .title {
  font-size: 14px;
  padding: 0.25rem 0;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.site--selector.deselected {
  outline: 1px solid white;
}

table.site--details {
  font-size: 12px;
  text-align: center;
  table-layout: fixed;
  width: 100%;
  margin: 0.25rem auto;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

th {
  padding-top: 4px;
}

td {
  padding: 5px;
}
